<div>
    <div class="welcome">
        <h1> Cadastre habilidades e nós lhe damos oportunidades! 
            <br/><small>até rimou né, agora clique no botão <b>Iniciar</b> e boa sorte :)</small>
        </h1>
    </div>
    <div class="button start">
        <button {{action "start"}} class="btn btn-success btn-lg"><span class="glyphicon glyphicon-play-circle"></span> Iniciar</button>
    </div>
    
</div>