<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header logo">
	  		<a class="navbar-brand no-padding" href="#"><img src="/assets/images/logo.png"  alt="Logo"></a>
		</div>
	</div>
</nav>
<div class="container text-center">
	{{outlet}}
</div>
<div class="footer">
	Todas
</div>