<div class="box"> 
    <div class="inf">
        <span>
            <p>Obrigado!</p> <br/>
            Em alguns instantes o resultado estará em seu email.
        </span>
    </div>
    <blockquote class="text-rigth quote">
        A vida está cheia de desafios que, se aproveitados de forma criativa, transformam-se em oportunidades.
        <small>
            Marxwell Maltz
        </small>
    </blockquote>
</div>
<div class="button">
    <button {{action "restart"}} class="btn btn-success btn-lg"><span class="glyphicon glyphicon glyphicon-repeat"></span> Iniciar novamente</button>
</div>